.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/19/waves.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2048&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.main_about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_services {
  min-height: 100vh;
  background-color: rgb(252, 252, 252);
  padding-top: 100px;
}

.main_testimonials {
  min-height: 100vh;
  background-color: #fff;
  padding-top: 100px;
}

.home_page_container {
  min-height: 100vh;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.navbar_text_logo {
  font-family: "Merriweather", serif;
  font-size: 22px;
}

.navbar_text_logo_scroll {
  font-family: "Merriweather", serif;
  font-size: 22px;
  color: #000;
}

.header_options_container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Merriweather", serif;
  margin-top: 13px;

  li {
    margin: 10px;
    color: #fff;
  }
}

.header_options_container_scroll {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Merriweather", serif;
  margin-top: 13px;

  li {
    margin: 10px;
    color: #171717;
  }
}

.nav_logo_container {
  a {
    color: #fff !important;
  }
}

.home_page_intro {
  color: rgb(255, 255, 255);
  width: 100%;

  p {
    text-align: center;
    font-size: 60px;
    font-family: "Merriweather", serif;
  }
}
.home_page_learn_more {
  p {
    color: #fff;
    padding: 10px;
    font-family: "Merriweather", serif bold;
    border: 3px solid #fff;
    font-weight: bold;
  }
}

.about_text_container {
  width: 50%;

  p {
    padding: 5px;
  }

  span{
    background-color: #667b53;
    color: #fff;
    padding: 13px;
  }
}

.about_image_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}

.about_first_img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 5px solid #fff;
}

.about_second_img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 5px solid #fff;
  margin-bottom: -800px;
  margin-left: -300px;
}

.services_title_container {
  width: 100%;
  text-align: center;
  padding: 50px;
}

.services_cards_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services_card {
  min-height: 270px;
  width: 270px;
  text-align: center;

  ul {
    padding: 0px;
  }

  li {
    list-style-type: none;
  }
}

.card_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    padding: 10px;
  }
}

.testimonials_title_container {
  width: 100%;
  text-align: center;
  padding: 50px;
}

.testimonials_cards_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card_container_testimonials {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  padding: 5px;
  height: 350px;
  width: 350px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  h2 {
    font-weight: bolder;
    color: rgb(243, 243, 9);
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    padding: 10px;
  }
}

.testimonial_title_container {
  width: 100%;
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  .header_options_container {
    li {
      margin: 5px;
    }
  }
}

@media screen and (max-width: 991px) {
  .card_container_testimonials {
    margin: 50px;
  }

  .testimonials_cards_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .header_options_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;

    li {
      border-bottom: 0.5px solid #171717;
    }
  }

  .services_cards_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
